body {

  background: white; /* For browsers that do not support gradients */

}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 30px;
  color: #454545;
  padding-top: 10px;
  padding-bottom: 10px;

}

h2 {
  font-family: 'Lobster Two', cursive;
  color: #737373;
}

a:focus {outline:0;}

.pink {
  color: #737373;
  border-color: #737373;
}

#content {
    position: relative;

}
#content ul {
    position: absolute;
    top:15px;
    right: 40px;
    font-size: 30px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 40px;
  color: #454545;
  padding-top: 7px;
  padding-bottom: 7px;
}

.my-img {
    width: 228px;
    height: 228px;
    max-width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  filter: sepia(100);
}


.nav-tabs > li.active > a {
    background-color: #fff !important;
    color: #737373;
}

.nav-tabs > li.active > a:focus {
  color: #737373;
  cursor: default;
  background-color: #fff !important;
  }

.nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
  color: #2BF0BD;

}

.nav-tabs {
  background-color:#fff !important;
  color: #2BF0BD;
}

.nav-tabs > li > a:hover{
  background-color: #fff !important;
  border: medium none;
  border-radius: 4px 4px 0 0;
  color:#737373;
}

.nav-tabs > li > a:active{
  background-color: #fff;
  border: medium none;
  border-radius: 0;
  color:#737373;
}

.tab-content {
  background-color:#fff;
  color: #FF78C4;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  text-align: center;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Lato', serif;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  font-family: 'Roboto Condensed', sans-serif;

}

.hovereffect button.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.hovereffect button.info:hover {
  box-shadow: 0 0 5px #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.hovereffect:hover button.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}


.details {
  color: #fff;
}

.modal-content {
  background-color: rgba(255, 255, 255, 1);
}

.modal-dialog {
  margin-top: 130px;
  width: 80%;
    backdrop-filter: blur(5px);
}

.modal-header {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #FF5678;
  border-color: #CACCD9;
}

.modal-footer {
  border-color: #FFFFFF;
}

#demo {
  padding-top: 100px;
}

.modal-footer a.
 {
-webkit-appearance: none;
text-decoration:none;
text-transform:uppercase;
color:#333;
border:1px solid #333;
background-color:transparent;
text-align: center;
display: inline-block;
padding:7px 14px;
font-family: 'Roboto Condensed', sans-serif;
}

#myModalLabel {

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 40px;
  color: #454545;
  text-align: center;

}

.about {
  text-align: right;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  color: #333;
  padding-bottom: 50px;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}

.timeline {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  color: #333;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}

.about p {
  line-height: 30px;
}

h4 {
  font-style: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

h5 {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}

#prj1 {
  color: #333;
}

.profile-pic {
  -webkit-filter: url(#duotone)
    drop-shadow(#224 0.25em 0.25em 0.6em);
  filter:  url(#duotone); /* For Firefox pre-35 */
  filter:  url(#duotone)
    drop-shadow(#224 0.25em 0.25em 0.6em);
}
.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

mark.red{
  background-color: #FFDEF0;
}

mark.blue{
  background-color: #CEFFF6;
}

mark.green {
  background-color: #69F0CF;
}

.journey mark{
  background-color: #69F0CF;
}

.journey p {
  margin-bottom: 15px;
}

.glyphicon {
    font-size: 20px;
}

.text-detail {
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  width:50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 9px;
}

.journey {
  font-family: 'Calibri',sans-serif;
  text-align: justify;
  font-size: 16px;
  padding: 16px;
  padding-top: 30px;
}

.booth {
  margin: 10px;
  float: right;
}

.pink:hover {
  color: #69F0CF;
  border-color: #69F0CF;
}

#success_message{ display: none;}

.control-label {
  color: #000;
  font-family: 'Roboto Slab', serif;
}

/* unvisited link */
a[href^="mailto"]:link {
    color: #000:
    text-decoration: none;
    background-color: #69F0CF;
}

/* visited link */
a[href^="mailto"]:visited {
    color: #000;
    text-decoration: none;
    background-color: #69F0CF;
}

/* mouse over link */
a[href^="mailto"]:hover {
    text-decoration: none;
    color: #000;
    background-color: #56C4AA;
}

/* selected link */
a[href^="mailto"]:active {
    text-decoration: none;
    color: #000;
    background-color: #56C4AA;
}

a {
  color: #000;
}

.img-responsive.cover{
  margin: 0px;
}

figure figcaption {
    font-size: 16px;
    text-align: center;
}

.spaced {
  margin-left: 10px;
  font-size: 16px;
}

.tooltip-inner {
    width: 80px;

}

.icons {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -50px;
  font-weight: bold;
}

.icons p {
  font-size: 10px;
  padding-top: 10px;
  font-family: 'Calibri', sans-serif;
}

.cover h3 {
  font-size: 20px;
  padding-bottom: 0px;
}

.legend {
  font-size: 14px;
}

.skills {
  color: #333;
  font-family: 'Calibri', sans-serif;
  text-align: center;
  font-size: 16px;
}

.skills .card  {
  border-radius: 10px;
    border: 2px solid #69F0CF;
    margin:10px;
    padding: 10px;
}

.skills i{
  font-size: 30px;
  padding-bottom:5px;
  padding-top: 2px;

}

.skills h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.list li {
  padding: 5%;
}
